<%- include("../layout/headSection.ejs") %>
<%- include("../layout/header.ejs") %>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>About</h1>
        <p>This is the About page content.</p>
    </div>
</div>

<%- include("../layout/footer.ejs") %>
