<%- include("../layout/headSection.ejs") %>
<%- include("../layout/header.ejs") %>

<div class="container text-center mt-5">
    <h1>Read More</h1>
    <p>
        This page contains additional information and details.
        You can place your long description, blog content, or
        extra text here.
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<%- include("../layout/footer.ejs") %>
